.geetest_holder.geetest_silver .geetest_head .geetest_close,
.geetest_holder.geetest_silver .geetest_head .geetest_close:hover,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_loading .geetest_item_loading_icon,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_icon,
.geetest_holder.geetest_silver .geetest_panel a.geetest_close,
.geetest_holder.geetest_silver .geetest_panel a.geetest_close:hover,
.geetest_holder.geetest_silver .geetest_panel a.geetest_refresh,
.geetest_holder.geetest_silver .geetest_panel a.geetest_refresh:hover,
.geetest_holder.geetest_silver .geetest_panel a.geetest_feedback,
.geetest_holder.geetest_silver .geetest_panel a.geetest_feedback:hover,
.geetest_holder.geetest_silver .geetest_panel a.geetest_voice,
.geetest_holder.geetest_silver .geetest_panel a.geetest_voice:hover {
    background-repeat: no-repeat;
    background-image: url('https://static.geetest.com/static/silver/sprite.1.4.8.png');
    _background-image: url('https://static.geetest.com/static/silver/sprite.1.4.8.gif')
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_head .geetest_close,
    .geetest_holder.geetest_silver .geetest_head .geetest_close:hover,
    .geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_loading .geetest_item_loading_icon,
    .geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_icon,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_close,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_close:hover,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_refresh,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_refresh:hover,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_feedback,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_feedback:hover,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_voice,
    .geetest_holder.geetest_silver .geetest_panel a.geetest_voice:hover {
        background-image: url('https://static.geetest.com/static/silver/sprite2x.1.4.8.png');
        _background-image: url('https://static.geetest.com/static/silver/sprite2x.1.4.8.gif')
    }
}

.geetest_holder.geetest_silver .geetest_head .geetest_close {
    background-repeat: no-repeat;
    _background-image: url('https://static.geetest.com/static/silver/sprite.1.4.8.gif')
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_head .geetest_close {
        _background-image: url('https://static.geetest.com/static/silver/sprite2x.1.4.8.gif')
    }
}

.geetest_holder.geetest_silver {
    touch-action: none
}

.geetest_holder.geetest_silver * {
    font-family: "PingFangSC-Regular", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-drag: none
}

.geetest_holder.geetest_silver .geetest_widget {
    position: relative;
    background-color: white;
    left: 0;
    top: 0;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.geetest_holder.geetest_silver .geetest_border {
    position: relative;
    padding-bottom: 1.7%;
    _padding-bottom: 6px;
    font-size: 0;
    background-color: #e5e5e5
}

.geetest_holder.geetest_silver .geetest_border .geetest_stuff {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    _height: 7px;
    background-color: #669ff7;
    transition: all 0.6s ease-in-out
}

.geetest_holder.geetest_silver .geetest_border .geetest_stuff.geetest_fail {
    background-color: #de715b
}

.geetest_holder.geetest_silver .geetest_border .geetest_stuff.geetest_success {
    background-color: #5ebf70
}

.geetest_holder.geetest_silver .geetest_head {
    position: relative;
    padding-bottom: 15%;
    height: 0;
    text-align: left
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips,
.geetest_holder.geetest_silver .geetest_head .geetest_atips,
.geetest_holder.geetest_silver .geetest_head .geetest_tip_space {
    position: absolute;
    top: 50%;
    left: 4.3%;
    margin-top: -10px;
    font-size: 16px
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips .geetest_mark,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_mark,
.geetest_holder.geetest_silver .geetest_head .geetest_tip_space .geetest_mark {
    color: #1c75e4
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips {
    height: 20px
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips .geetest_tip_content {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    _width: 135px
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips .geetest_tip_img {
    display: none;
    position: absolute;
    right: -116px;
    top: -10px;
    width: 116px;
    height: 40px;
    background: left bottom no-repeat;
    background-size: 298% 968%
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips.geetest_special {
    right: 4.3%;
    left: inherit
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips.geetest_multi_click {
    width: 55%
}

.geetest_holder.geetest_silver .geetest_head .geetest_tips.geetest_multi_click .geetest_tip_content {
    position: absolute;
    top: -10px
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips {
    margin-top: 0;
    width: 100%
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_atip_content {
    position: absolute;
    margin-top: -10px
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text {
    right: 6.5%;
    position: absolute;
    display: none
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    background: #F5F5F5;
    text-align: center;
    color: #D6D6D6;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    position: relative
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text div span {
    font-weight: bold
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text .geetest_click_word {
    box-shadow: none;
    border: none;
    color: #F5F5F5
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text .geetest_click_IE9 {
    box-shadow: none;
    border: none;
    color: #F5F5F5;
    background-color: #50B1FF
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text .geetest_click_word::after,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text .geetest_click_word after {
    content: '';
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 10px;
    right: 10px;
    border-radius: 18px;
    background-color: #50B1FF;
    animation: geetest_color 0.27s ease-in-out;
    animation-fill-mode: forwards
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text .geetest_move_word span {
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
    animation: geetest_word_move ease-in-out 0.27s;
    animation-fill-mode: forwards
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three {
    width: 84px;
    top: -12px;
    display: block
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word1,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word2,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word3 {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin-left: 4px
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word1 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word2 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word3 span {
    position: absolute;
    left: 6px;
    z-index: 99
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word4,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word5,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_three .geetest_word6 {
    display: none
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four {
    width: 112px;
    top: -12px;
    display: block
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word1,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word2,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word3,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word4 {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin-left: 4px
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word1 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word2 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word3 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word4 span {
    position: absolute;
    left: 7px;
    z-index: 99
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word5,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_four .geetest_word6 {
    display: none
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five {
    width: 115px;
    top: -10px;
    display: block
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word1,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word2,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word3,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word4,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word5 {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    margin-left: 3px
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word1 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word2 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word3 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word4 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word5 span {
    position: absolute;
    left: 5px;
    z-index: 99
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_five .geetest_word6 {
    display: none
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six {
    width: 120px;
    top: -9px;
    display: block
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word1,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word2,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word3,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word4,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word5,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word6 {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    margin-left: 2px
}

.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word1 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word2 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word3 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word4 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word5 span,
.geetest_holder.geetest_silver .geetest_head .geetest_atips .geetest_tip_text.geetest_six .geetest_word6 span {
    position: absolute;
    left: 4px;
    z-index: 99
}

.geetest_holder.geetest_silver .geetest_head .geetest_close {
    position: absolute;
    right: 6%;
    top: 50%;
    height: 18px;
    width: 18px;
    margin-top: -9px;
    cursor: pointer;
    background-size: 280%;
    background-position: 0 0;
    _background-size: 280%;
    _background-position: 0 6.70103%
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_head .geetest_close {
        background-size: 282.5%;
        background-position: 0 0
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_head .geetest_close {
        _background-size: 282.5%;
        _background-position: 0 6.55271%
    }
}

.geetest_holder.geetest_silver .geetest_head .geetest_close:hover {
    background-size: 280%;
    background-position: 0 6.70103%
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_head .geetest_close:hover {
        background-size: 282.5%;
        background-position: 0 6.55271%
    }
}

.geetest_holder.geetest_silver .geetest_table_box {
    position: relative;
    text-align: center;
    overflow: hidden
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window {
    width: 100%;
    -webkit-tap-highlight-color: transparent
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item {
    position: relative;
    left: 1.4%;
    width: 31%;
    padding-bottom: 31%;
    _width: 109px;
    _padding-bottom: 109px;
    float: left;
    height: 0;
    margin: .7%;
    background-color: #e5e5e5;
    overflow: hidden;
    cursor: default
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item.geetest_big_item {
    *width: 339px;
    *padding-bottom: 339px
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_loading .geetest_item_loading_icon {
    margin: 42% auto 10px;
    width: 34px;
    height: 26px;
    background-size: 164.70588%;
    background-position: 0 27.22513%
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_loading .geetest_item_loading_icon {
        background-size: 166.17647%;
        background-position: 0 26.66667%
    }
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_loading .geetest_item_loading_tip {
    font-size: 14px;
    color: #b2b2b2
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    overflow: hidden
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_wrap .geetest_item_text,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_wrap .geetest_item_img {
    max-width: none;
    position: absolute
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item.geetest_big_item .geetest_item_wrap {
    *width: 339px;
    *height: 339px
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_ghost {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    border-width: 0;
    border-style: solid;
    transition: all 0.3s ease-in-out
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_icon {
    position: absolute;
    background-size: 127.27273%;
    background-position: 0 85.71429%;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    filter: alpha(opacity=0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    transition: all 0.3s ease-in-out
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_item_icon {
        background-size: 131.39535%;
        background-position: 0 85.97561%
    }
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item.geetest_selected .geetest_item_ghost {
    filter: alpha(opacity=40);
    opacity: 1
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item.geetest_selected .geetest_item_icon {
    filter: alpha(opacity=100);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_big_mark,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_square_mark,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_space_mark {
    position: absolute;
    margin: -5% 0 0 -5%;
    width: 10%;
    height: 10%;
    *width: 28px;
    *height: 28px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #539ffe;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -moz-transform: scale(0, 0) translateZ(0);
    -ms-transform: scale(0, 0) translateZ(0);
    -webkit-transform: scale(0, 0) translateZ(0);
    transform: scale(0, 0) translateZ(0);
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_big_mark.geetest_mark_show,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_square_mark.geetest_mark_show,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_space_mark.geetest_mark_show {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    border-width: 3.01px \9
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_big_mark .geetest_mark_no,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_square_mark .geetest_mark_no,
.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_space_mark .geetest_mark_no {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: default;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_space_mark {
    box-shadow: 0 1px 6px 0 rgba(17, 30, 39, 0.4);
    background-color: rgba(83, 159, 254, 0.7) !important;
    -moz-animation: biger 0.15s linear;
    -webkit-animation: biger 0.15s linear;
    animation: biger 0.15s linear
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_space_mark .geetest_mark_no {
    z-index: 99999999;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: #fff;
    border-radius: 50%
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_square_mark.geetest_mark_show {
    border-width: 0;
    border: 2px solid white
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_square_mark .geetest_mark_no {
    margin-top: -11px
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item .geetest_square_mark {
    border-radius: 2px;
    width: 9%;
    height: 9%;
    *width: 28px;
    *height: 28px;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5) translateZ(0);
    -ms-transform: scale(0.5, 0.5) translateZ(0);
    -webkit-transform: scale(0.5, 0.5) translateZ(0);
    transform: scale(0.5, 0.5) translateZ(0);
    -moz-transition: all .27s ease-in-out;
    -o-transition: all .27s ease-in-out;
    -webkit-transition: all .27s ease-in-out;
    transition: all .27s ease-in-out
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_window .geetest_item_ie7 {
    height: auto
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_result_tip {
    display: block;
    position: absolute;
    left: 2.1%;
    bottom: -29px;
    _bottom: 27%;
    width: 95.8%;
    height: 28px;
    text-align: left;
    text-indent: 9px;
    font-size: 16px;
    -moz-transition: bottom .4s ease-out;
    -o-transition: bottom .4s ease-out;
    -webkit-transition: bottom .4s ease-out;
    transition: bottom .4s ease-out;
    z-index: 999;
    line-height: 29px;
    color: white;
    background-color: transparent;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_result_tip.geetest_fail {
    background-color: #de715b
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_result_tip.geetest_success {
    background-color: #5ebf70
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_result_tip.geetest_up {
    bottom: 0;
    _bottom: 34%
}

.geetest_holder.geetest_silver .geetest_table_box .geetest_result_tip.geetest_special_text {
    text-align: right;
    direction: rtl
}

.geetest_holder.geetest_silver .geetest_panel {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 16%;
    _padding-bottom: 63px;
    _display: block
}

.geetest_holder.geetest_silver .geetest_panel .geetest_commit {
    display: block;
    position: absolute;
    border-radius: 2px;
    background-color: #539ffe;
    top: 10%;
    right: 2%;
    height: 75%;
    *height: 45px;
    width: 35%;
    text-decoration: none;
    cursor: pointer
}

.geetest_holder.geetest_silver .geetest_panel .geetest_commit:hover {
    background-color: #4995f5
}

.geetest_holder.geetest_silver .geetest_panel .geetest_commit .geetest_commit_tip {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    color: white
}

.geetest_holder.geetest_silver .geetest_panel .geetest_temp,
.geetest_holder.geetest_silver .geetest_panel a.geetest_close,
.geetest_holder.geetest_silver .geetest_panel a.geetest_refresh,
.geetest_holder.geetest_silver .geetest_panel a.geetest_feedback,
.geetest_holder.geetest_silver .geetest_panel a.geetest_voice,
.geetest_holder.geetest_silver .geetest_panel .geetest_text_logo {
    position: relative;
    display: inline-block;
    height: 20px;
    cursor: pointer
}

.geetest_holder.geetest_silver .geetest_panel .geetest_small {
    position: absolute;
    top: 50%;
    left: 4.3%;
    margin-top: -11.5px;
    height: 20px
}

.geetest_holder.geetest_silver .geetest_panel .geetest_small a {
    vertical-align: top
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_close,
.geetest_holder.geetest_silver .geetest_panel a.geetest_refresh,
.geetest_holder.geetest_silver .geetest_panel a.geetest_feedback,
.geetest_holder.geetest_silver .geetest_panel a.geetest_voice {
    margin-left: 14px;
    width: 20px;
    cursor: pointer;
    text-decoration: none;
    outline-color: transparent;
    outline: #fff
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_close {
    margin-left: 0;
    overflow: hidden;
    background-size: 280%;
    background-position: 0 0
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_close {
        background-size: 282.5%;
        background-position: 0 0
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_close:hover {
    background-size: 280%;
    background-position: 0 6.70103%;
    overflow: visible
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_close:hover {
        background-size: 282.5%;
        background-position: 0 6.55271%
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_refresh {
    overflow: hidden;
    background-size: 280%;
    background-position: 0 67.01031%
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_refresh {
        background-size: 282.5%;
        background-position: 0 67.23647%
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_refresh:hover {
    background-size: 280%;
    background-position: 0 73.71134%;
    overflow: visible
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_refresh:hover {
        background-size: 282.5%;
        background-position: 0 73.78917%
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_feedback {
    overflow: hidden;
    background-size: 280%;
    background-position: 0 13.40206%
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_feedback {
        background-size: 282.5%;
        background-position: 0 13.10541%
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_feedback:hover {
    background-size: 280%;
    background-position: 0 20.10309%;
    overflow: visible
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_feedback:hover {
        background-size: 282.5%;
        background-position: 0 19.65812%
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_voice {
    overflow: hidden;
    display: none;
    background-size: 280%;
    background-position: 0 93.29897%
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_voice {
        background-size: 282.5%;
        background-position: 0 93.44729%
    }
}

.geetest_holder.geetest_silver .geetest_panel a.geetest_voice:hover {
    background-size: 280%;
    background-position: 0 100%;
    overflow: visible
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi),
(min-resolution: 1.5dppx) {
    .geetest_holder.geetest_silver .geetest_panel a.geetest_voice:hover {
        background-size: 282.5%;
        background-position: 0 100%
    }
}

.geetest_holder.geetest_silver .geetest_panel .geetest_close_tip,
.geetest_holder.geetest_silver .geetest_panel .geetest_feedback_tip,
.geetest_holder.geetest_silver .geetest_panel .geetest_refresh_tip,
.geetest_holder.geetest_silver .geetest_panel .geetest_voice_tip {
    position: absolute;
    top: -32px;
    left: 10px;
    border-radius: 2px;
    padding: 0 4px;
    height: 22px;
    min-width: 50px;
    line-height: 22px;
    background-color: #5F5F5F;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    color: white
}

.geetest_holder.geetest_silver .geetest_panel .geetest_close_tip:before,
.geetest_holder.geetest_silver .geetest_panel .geetest_feedback_tip:before,
.geetest_holder.geetest_silver .geetest_panel .geetest_refresh_tip:before,
.geetest_holder.geetest_silver .geetest_panel .geetest_voice_tip:before {
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    content: '';
    border-style: solid;
    border-width: 4px 6px;
    border-color: #5F5F5F transparent transparent #5F5F5F;
    width: 0;
    height: 0
}

.geetest_holder.geetest_silver .geetest_panel .geetest_text_logo {
    line-height: 23px;
    right: 6%;
    display: block;
    color: #7e7e7e;
    text-decoration: none;
    font-size: 12px;
    opacity: .6;
    width: auto;
    background: transparent
}

.geetest_holder.geetest_silver .geetest_medium_fontsize .geetest_tip_content,
.geetest_holder.geetest_silver .geetest_medium_fontsize .geetest_atip_content,
.geetest_holder.geetest_silver .geetest_medium_fontsize .geetest_tip_space,
.geetest_holder.geetest_silver .geetest_medium_fontsize .geetest_commit .geetest_commit_tip {
    font-size: 14px
}

.geetest_holder.geetest_silver .geetest_small_fontsize .geetest_tip_content,
.geetest_holder.geetest_silver .geetest_small_fontsize .geetest_atip_content,
.geetest_holder.geetest_silver .geetest_small_fontsize .geetest_tip_space,
.geetest_holder.geetest_silver .geetest_small_fontsize .geetest_commit .geetest_commit_tip {
    font-size: 12px
}

.geetest_holder.geetest_silver .geetest_flash::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 999;
    top: 0;
    right: -280px;
    width: 170px;
    height: 100%;
    transform: skew(30deg);
    background: -webkit-linear-gradient(left, transparent 10%, rgba(255, 255, 255, 0.5) 50%, transparent);
    -moz-animation: moveTo-left 0.3s linear;
    -webkit-animation: moveTo-left 0.3s linear;
    animation: moveTo-left 0.3s linear
}

@keyframes biger {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@-webkit-keyframes biger {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes moveTo-left {
    10% {
        right: 0
    }
    100% {
        right: 120%
    }
}

@-webkit-keyframes moveTo-left {
    10% {
        right: 0
    }
    100% {
        right: 120%
    }
}

@keyframes geetest_shake {
    25% {
        margin-left: -6px
    }
    75% {
        margin-left: 6px
    }
    100% {
        margin-left: 0
    }
}

@-webkit-keyframes geetest_shake {
    25% {
        margin-left: -6px
    }
    75% {
        margin-left: 6px
    }
    100% {
        margin-left: 0
    }
}

@keyframes geetest_word_move {
    0% {
        top: 18px;
        opacity: 0
    }
    100% {
        opacity: 1;
        top: 0
    }
}

@-webkit-keyframes geetest_word_move {
    0% {
        top: 18px;
        opacity: 0
    }
    100% {
        opacity: 1;
        top: 0
    }
}

@keyframes geetest_color {
    25% {
        top: 7px;
        bottom: 7px;
        left: 7px;
        right: 7px;
        background-color: #50B1FF
    }
    75% {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #50B1FF
    }
    100% {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 2px;
        background-color: #50B1FF
    }
}

@-webkit-keyframes geetest_color {
    25% {
        top: 7px;
        bottom: 7px;
        left: 7px;
        right: 7px;
        background-color: #50B1FF
    }
    75% {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #50B1FF
    }
    100% {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 2px;
        background-color: #50B1FF
    }
}

.geetest_holder.geetest_silver.geetest_popup {
    display: none;
    position: fixed;
    _position: absolute;
    z-index: 2147483647;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    transition: opacity .5s
}

.geetest_holder.geetest_silver.geetest_popup .geetest_popup_ghost {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    _width: 2000px;
    _height: 1000px;
    background-color: black;
    opacity: .6;
    filter: alpha(opacity=60)
}

@media all and (orientation: portrait) {
    .geetest_holder.geetest_silver.geetest_popup .geetest_popup_ghost {
        font-family: "portrait"
    }
}

@media all and (orientation: landscape) {
    .geetest_holder.geetest_silver.geetest_popup .geetest_popup_ghost {
        font-family: "landscape"
    }
}

.geetest_holder.geetest_silver.geetest_popup .geetest_popup_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%, 0);
    -webkit-transform: translate(-50%, -50%, 0);
    transform: translate(-50%, -50%, 0);
    max-width: 348px;
    min-width: 210px;
    width: 90%;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
    margin-left: -174px;
    margin-top: -223px;
    _width: 348px;
    _height: 445px
}

.geetest_holder.geetest_silver.geetest_popup .geetest_popup_box:last-child {
    margin-left: 0 !important;
    margin-top: 0 !important
}

.geetest_holder.geetest_silver.geetest_popup .geetest_popup_box.geetest_shake {
    -moz-animation: geetest_shake 0.2s linear infinite both;
    -webkit-animation: geetest_shake 0.2s linear infinite both;
    animation: geetest_shake 0.2s linear infinite both
}

.geetest_holder.geetest_silver.geetest_m .geetest_close_tip,
.geetest_holder.geetest_silver.geetest_m .geetest_refresh_tip,
.geetest_holder.geetest_silver.geetest_m .geetest_feedback_tip {
    display: none
}